<app-breadcrumbs [name]="'Facturas'" [namePage]="'Creación de facturas'"
  [description]="'Realiza la creación de tus facturas.'">
</app-breadcrumbs>



<div style="padding-top: 0%;" class="wrapper wrapper-content animated fadeIn mx-2 mt-3" id="ibox">
  <div class="ibox-content">

    <button class="btn btn-primary btn-sm rounded text-white mt-3 mb-3" (click)="nuevo()"><i class="fa-solid fa-eraser"></i>Nuevo</button>


    <p>Ingresa la información solicitada para la creación de la factura:</p>
    <div class="row mb-2">
      <label class="col-2 ">
        Cliente
      </label>
      <div class="col-4">
        <select  class="form-select" [(ngModel)]="factura.idCliente">
          <option selected value="0">Selecciona un cliente</option>
          <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.razonSocial }}</option>
        </select>
      </div>
      <label class="col-2 ">
        Número de Factura
      </label>
      <div class="col-4">
        <input class="form-control" type="number" [(ngModel)]="factura.numeroFactura">
      </div>
    </div>

    <button class="btn btn-primary btn-sm rounded text-white mt-3 mb-3" (click)="agregarProducto()"><i class="fa-solid fa-plus"></i> Agregar Producto</button>

    <table class="footable3 table table-striped" data-page-size="10">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio Unitario</th>
          <th>Cantidad</th>
          <th>Imagen</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of factura.detalles">
          <td>
            <select class="form-select" [(ngModel)]="detalle.idProducto" (change)="actualizarProducto(detalle)">
              <option selected value="0">Selecciona un producto</option>
              <option *ngFor="let producto of productos" [value]="producto.id">{{ producto.nombreProducto }}</option>
            </select>
          </td>
          <td>{{ detalle.producto?.precioUnitario }}</td>
          <td><input class="form-control" type="number" [(ngModel)]="detalle.cantidadDeProducto"></td>
          <td><img [src]="'data:image/png;base64,' + detalle.producto?.imagenBase64"></td>
          <td>{{ detalle.subtotalProducto }}</td>
        </tr>
      </tbody>
      <tfoot class="table-light">
        <tr>
          <th colspan="4" class="text-end">Subtotal:</th>
          <td>{{ factura.subTotalFacturas | currency }}</td>
        </tr>
        <tr>
          <th colspan="4" class="text-end">Impuestos (19%):</th>
          <td>{{ factura.totalImpuestos | currency }}</td>
        </tr>
        <tr class="fw-bold">
          <th colspan="4" class="text-end">Total:</th>
          <td>{{ factura.totalFactura | currency }}</td>
        </tr>
      </tfoot>

    </table>

    <button class="btn btn-primary btn-sm rounded text-white" (click)="guardarFactura()"><i class="fa-solid fa-floppy-disk"></i>Guardar</button>
  </div>

</div>
