<app-breadcrumbs [name]="'Creación de facturas'" [namePage]="'Creación de facturas'"
  [description]="'Realiza la creación de tus facturas.'">
</app-breadcrumbs>



<div style="padding-top: 0%;" class="wrapper wrapper-content animated fadeIn mx-2 mt-3" id="ibox">
  <div class="ibox-content">
    <label>Cliente:</label>
    <select  class="form-select" [(ngModel)]="factura.idCliente">
      <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.razonSocial }}</option>
    </select>

    <label>Número de Factura:</label>
    <input class="form-control" type="number" [(ngModel)]="factura.numeroFactura">

    <button class="btn btn-primary btn-sm rounded text-white mt-3" (click)="agregarProducto()">Agregar Producto</button>

    <table class="footable3 table table-striped" data-page-size="10">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio Unitario</th>
          <th>Cantidad</th>
          <th>Imagen</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of factura.detalles">
          <td>
            <select class="form-select" [(ngModel)]="detalle.idProducto">
              <option *ngFor="let producto of productos" [value]="producto.id">{{ producto.nombreProducto }}</option>
            </select>
          </td>
          <td>{{ detalle.producto?.precioUnitario }}</td>
          <td><input type="number" [(ngModel)]="detalle.cantidadDeProducto"></td>
          <td><img [src]="'data:image/png;base64,' + detalle.producto?.imagenBase64"></td>
          <td>{{ detalle.subtotalProducto }}</td>
        </tr>
      </tbody>
      <tfoot class="table-light">
        <tr>
          <th colspan="4" class="text-end">Subtotal:</th>
          <td>{{ factura.subTotalFacturas | currency }}</td>
        </tr>
        <tr>
          <th colspan="4" class="text-end">Impuestos (19%):</th>
          <td>{{ factura.totalImpuestos | currency }}</td>
        </tr>
        <tr class="fw-bold">
          <th colspan="4" class="text-end">Total:</th>
          <td>{{ factura.totalFactura | currency }}</td>
        </tr>
      </tfoot>

    </table>

    <button class="btn btn-primary btn-sm rounded text-white" (click)="guardarFactura()">Guardar</button>
  </div>

</div>
